<a href="https://colab.research.google.com/github/IvyCheon/data-sandbox/blob/main/01_Quick_Commerce_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
import pandas as pd
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rohitgrewal/quick-commerce-dataset")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'quick-commerce-dataset' dataset.
Path to dataset files: /kaggle/input/quick-commerce-dataset

In [110]:
import pandas as pd
import glob


# 해당 경로의 첫 번째 csv 파일 경로를 가져옴
csv_file = glob.glob(f"{path}/*.csv")[0]

df = pd.read_csv(csv_file)
df

,Order_ID,Company,City,Customer_Age,Order_Value,Delivery_Time_Min,Distance_Km,Items_Count,Product_Category,Payment_Method,Customer_Rating,Discount_Applied,Delivery_Partner_Rating
0,1000001,Swiggy Instamart,Noida,46,702,19,12.0,12,Dairy,Wallet,2,1,3
1,1000002,Flipkart Minutes,Amritsar,56,1007,20,12.7,10,Snacks,Cash on Delivery,2,0,3
2,1000003,Flipkart Minutes,Mumbai,18,1212,17,4.8,19,Personal Care,Cash on Delivery,3,0,4
3,1000004,Swiggy Instamart,Delhi,23,1179,6,6.4,2,Dairy,Credit Card,5,1,5
4,1000005,Dunzo,Mumbai,44,586,12,2.4,13,Household,Wallet,4,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
947747,1999996,Big Basket,Mumbai,48,72,18,3.0,19,Fruits & Vegetables,Wallet,4,0,3
947748,1999997,Swiggy Instamart,Mumbai,33,1510,18,10.5,9,Beverages,Debit Card,4,1,4
947749,1999998,Jio Mart,Noida,29,637,18,2.6,6,Groceries,Cash on Delivery,3,0,5
947750,1999999,Dunzo,Pune,42,1103,13,7.8,12,Snacks,Wallet,4,1,4
947751,2000000,Amazon Now,Chennai,19,759,18,9.4,13,Snacks,Credit Card,4,0,5

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947752 entries, 0 to 947751
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Order_ID                 947752 non-null  int64
 1   Company                  947752 non-null  object
 2   City                     947752 non-null  object
 3   Customer_Age             947752 non-null  int64
 4   Order_Value              947752 non-null  int64
 5   Delivery_Time_Min        947752 non-null  int64
 6   Distance_Km              947752 non-null  float64
 7   Items_Count              947752 non-null  int64
 8   Product_Category         947752 non-null  object
 9   Payment_Method           947752 non-null  object
 10  Customer_Rating          947752 non-null  int64
 11  Discount_Applied         947752 non-null  int64
 12  Delivery_Partner_Rating  947752 non-null  int64
dtypes: float64(1), int64(8), object(4)
memory usage: 94.0+ MB

In [112]:
df.describe()

,Order_ID,Customer_Age,Order_Value,Delivery_Time_Min,Distance_Km,Items_Count,Customer_Rating,Discount_Applied,Delivery_Partner_Rating
count,9.477520e+05,947752.000000,947752.000000,947752.000000,947752.000000,947752.000000,947752.000000,947752.000000,947752.000000
mean,1.500028e+06,38.471165,570.912008,16.506620,7.750048,10.313292,3.042655,0.400786,3.800295
std,2.887273e+05,12.118982,374.175332,6.340851,4.187153,5.630770,1.202499,0.490058,0.718762
min,1.000001e+06,18.000000,50.000000,5.000000,0.500000,1.000000,1.000000,0.000000,2.000000
25%,1.249939e+06,28.000000,288.000000,12.000000,4.100000,5.000000,2.000000,0.000000,3.000000
50%,1.500026e+06,38.000000,532.000000,16.000000,7.800000,10.000000,3.000000,0.000000,4.000000
75%,1.750145e+06,49.000000,797.000000,20.000000,11.400000,15.000000,4.000000,1.000000,4.000000
max,2.000000e+06,59.000000,2492.000000,40.000000,15.000000,19.000000,5.000000,1.000000,5.000000

In [113]:
rating_grouped = df.groupby(by="Customer_Rating")

In [114]:
rating_grouped.count()

,Order_ID,Company,City,Customer_Age,Order_Value,Delivery_Time_Min,Distance_Km,Items_Count,Product_Category,Payment_Method,Discount_Applied,Delivery_Partner_Rating
Customer_Rating,,,,,,,,,,,,
1,100678,100678,100678,100678,100678,100678,100678,100678,100678,100678,100678,100678
2,243865,243865,243865,243865,243865,243865,243865,243865,243865,243865,243865,243865
3,237538,237538,237538,237538,237538,237538,237538,237538,237538,237538,237538,237538
4,245695,245695,245695,245695,245695,245695,245695,245695,245695,245695,245695,245695
5,119976,119976,119976,119976,119976,119976,119976,119976,119976,119976,119976,119976

In [115]:
#연습 문제 1. 카테고리별 단순 개수 집계

#문제: City(도시)별로 총 몇 건의 주문이 발생했는지 집계하십시오.

#힌트: .size() 메서드를 활용하여 각 그룹의 전체 행 개수를 산출합니다.

In [116]:
df.groupby("City").size()

City
Amritsar     79057
Bengluru     78949
Chennai      78703
Delhi        79162
Gurgaon      78986
Haridwar     78939
Hyderabad    79462
Jaipur       78879
Kolkata      79159
Mumbai       79056
Noida        78843
Pune         78557
dtype: int64

In [117]:
#연습 문제 2. 카테고리별 수치형 데이터 평균 계산
#목표: 그룹화된 데이터의 특정 수치(평균, 최댓값 등)를 계산합니다.

#문제: Product_Category(상품 카테고리)별 평균 Order_Value(주문 금액)와
#     평균 Delivery_Time_Min(배달 소요 시간)을 구하십시오.

In [118]:
df.groupby("Product_Category")[["Order_Value", "Delivery_Time_Min"]].mean()

                     Order_Value  Delivery_Time_Min
Product_Category
Beverages             569.374303          16.497140
Dairy                 572.642980          16.498482
Fruits & Vegetables   571.172737          16.498058
Groceries             570.948967          16.514026
Household             572.287345          16.510918
Personal Care         569.112156          16.526900
Snacks                570.832537          16.500809

In [119]:
#연습 문제 3. 사용자 정의 함수 적용 후 그룹화
#목표: 기존에 없는 새로운 분류 기준을 직접 만들어 그룹화에 활용합니다.

#문제: 고객의 나이(Customer_Age)를 10세 단위의 연령대(예: 20대, 30대)로 변환하는 함수를 정의하고,
      # 해당 연령대별 주문 건수를 집계하십시오.

In [120]:
def age_categorise(age):
  return int(age/10)*10

In [121]:
df.groupby(df["Customer_Age"].apply(age_categorise)).size()

Customer_Age
10     45079
20    226854
30    225342
40    225369
50    225108
dtype: int64

In [122]:
#연습 문제 4. 다중 컬럼 그룹화
#목표: 두 개 이상의 기준을 동시에 적용하여 세부적으로 데이터를 그룹화합니다.

#문제: Company(회사명)와 City(도시명) 두 가지 기준으로 데이터를 묶은 뒤, Delivery_Time_Min(배달 소요 시간)의 평균을 구하십시오.

In [123]:
df.groupby(["Company", "City"])["Delivery_Time_Min"].mean()

Company     City
Amazon Now  Amritsar    18.167388
            Bengluru    19.183342
            Chennai     18.138722
            Delhi        8.294616
            Gurgaon     18.166173
                          ...
Zepto       Jaipur      13.145278
            Kolkata      8.302901
            Mumbai      10.152013
            Noida        8.297617
            Pune         8.352643
Name: Delivery_Time_Min, Length: 96, dtype: float64

In [124]:
#연습 문제 5. 조건 필터링 후 그룹화
#목표: 전체 데이터 중 특정 조건을 만족하는 행만 먼저 추려낸 뒤 그룹화를 진행합니다.

#문제: Customer_Rating(고객 평점)이 4점 이상인 우수 주문 건들만 필터링한 후,
#     Product_Category(상품 카테고리)별 주문 건수(.size())를 구하십시오.

In [125]:
upper4= df["Customer_Rating"]>=4
upper_df = df[upper4]
upper_df.groupby("Product_Category").size()

Product_Category
Beverages              52281
Dairy                  52508
Fruits & Vegetables    52012
Groceries              52392
Household              52004
Personal Care          52364
Snacks                 52110
dtype: int64

In [126]:
#목표: 각기 다른 컬럼에 대해 서로 다른 통계 함수(평균, 최댓값 등)를 한 번에 연산합니다.

#문제: Payment_Method(결제 수단)별로
#     총 주문 건수(행 개수), Order_Value(주문 금액)의 최댓값, Distance_Km(배달 배달 거리)의 평균을 동시에 구하십시오.

In [127]:
df.groupby("Payment_Method")[["Order_Value", "Distance_Km"]].aggregate(["max", "mean"])

                 Order_Value             Distance_Km
                         max        mean         max      mean
Payment_Method
Cash on Delivery        2489  572.507888        15.0  7.746894
Credit Card             2492  569.915551        15.0  7.761461
Debit Card              2491  570.159381        15.0  7.763001
UPI                     2492  570.811725        15.0  7.735696
Wallet                  2476  571.159656        15.0  7.743178

In [128]:
df.groupby("Payment_Method").agg({
    "Order_Value" : "max",
    "Distance_Km" : "mean"
})

                  Order_Value  Distance_Km
Payment_Method
Cash on Delivery         2489     7.746894
Credit Card              2492     7.761461
Debit Card               2491     7.763001
UPI                      2492     7.735696
Wallet                   2476     7.743178

In [129]:
df

,Order_ID,Company,City,Customer_Age,Order_Value,Delivery_Time_Min,Distance_Km,Items_Count,Product_Category,Payment_Method,Customer_Rating,Discount_Applied,Delivery_Partner_Rating
0,1000001,Swiggy Instamart,Noida,46,702,19,12.0,12,Dairy,Wallet,2,1,3
1,1000002,Flipkart Minutes,Amritsar,56,1007,20,12.7,10,Snacks,Cash on Delivery,2,0,3
2,1000003,Flipkart Minutes,Mumbai,18,1212,17,4.8,19,Personal Care,Cash on Delivery,3,0,4
3,1000004,Swiggy Instamart,Delhi,23,1179,6,6.4,2,Dairy,Credit Card,5,1,5
4,1000005,Dunzo,Mumbai,44,586,12,2.4,13,Household,Wallet,4,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
947747,1999996,Big Basket,Mumbai,48,72,18,3.0,19,Fruits & Vegetables,Wallet,4,0,3
947748,1999997,Swiggy Instamart,Mumbai,33,1510,18,10.5,9,Beverages,Debit Card,4,1,4
947749,1999998,Jio Mart,Noida,29,637,18,2.6,6,Groceries,Cash on Delivery,3,0,5
947750,1999999,Dunzo,Pune,42,1103,13,7.8,12,Snacks,Wallet,4,1,4
947751,2000000,Amazon Now,Chennai,19,759,18,9.4,13,Snacks,Credit Card,4,0,5

In [130]:
#연습 문제 7. 딕셔너리({})를 활용한 개별 집계
#목표: 컬럼마다 각기 다른 통계 함수를 명시적으로 지정합니다.

#문제: Company(회사명)별로 Delivery_Time_Min(배달 시간)의 최댓값(max)과
      # Customer_Rating(고객 평점)의 평균값(mean)을 동시에 구하십시오.

In [131]:
df.groupby("Company").agg({
    "Delivery_Time_Min" : "max",
    "Customer_Rating" : "mean"
})

                  Delivery_Time_Min  Customer_Rating
Company
Amazon Now                       36         2.913417
Big Basket                       35         3.097902
Blinkit                          32         3.580762
Dunzo                            31         2.428024
Flipkart Minutes                 34         3.016316
Jio Mart                         40         2.819747
Swiggy Instamart                 33         3.279443
Zepto                            26         3.203062

In [132]:
#연습 문제 8. 그룹화 결과 정렬 (sort_values)
#목표: 집계 완료된 데이터를 크기 순으로 정렬하여 순위를 확인합니다.

#문제: City(도시)별 Order_Value(주문 금액)의 총합(sum)을 구하고,
#       그 총합 금액이 가장 높은 도시부터 내림차순으로 정렬하십시오.

In [133]:
df.groupby("City")["Order_Value"].sum().sort_values(ascending=False)

City
Gurgaon      54888745
Noida        53875366
Delhi        47916703
Mumbai       46751342
Bengluru     46007642
Amritsar     44555789
Hyderabad    44544401
Kolkata      44414073
Chennai      44120998
Pune         43970885
Jaipur       35704227
Haridwar     34332826
Name: Order_Value, dtype: int64

In [134]:
#연습 문제 9. 조건에 따른 다중 그룹화 및 빈도 계산
#목표: 2개의 범주형 데이터를 기준으로 교차 빈도를 확인합니다.

#문제: Discount_Applied(할인 적용 여부) 그룹 내에서
#     각각 어떤 Payment_Method(결제 수단)가 몇 번씩 사용되었는지 건수(size)를 구하십시오.

In [135]:
df.groupby(["Discount_Applied", "Payment_Method"]).size()

Discount_Applied  Payment_Method
0                 Cash on Delivery    113669
                  Credit Card         113769
                  Debit Card          113754
                  UPI                 113249
                  Wallet              113465
1                 Cash on Delivery     76609
                  Credit Card          75801
                  Debit Card           75692
                  UPI                  76171
                  Wallet               75573
dtype: int64

In [136]:
#연습 문제 10. 사용자 정의 함수와 .apply() (단일 열)
#목표: 복잡한 조건문을 가진 함수를 만들어 특정 열의 데이터를 변환합니다.

#문제: Delivery_Time_Min(배달 소요 시간)이 30분 미만이면 'Fast',
#30분 이상이면 'Slow'를 반환하는 함수를 정의하십시오.
#이후 해당 함수를 Delivery_Time_Min 열에 적용하여, 속도(Fast/Slow)별 총 주문 건수(.size())를 집계하십시오.

In [137]:
def time_categorise(time):
  if time < 30:
    return "Fast"
  else:
    return "Slow"

In [138]:
df.groupby(df["Delivery_Time_Min"].apply(time_categorise)).size()

Delivery_Time_Min
Fast    917912
Slow     29840
dtype: int64

In [139]:
#연습 문제 11. 람다(lambda) 함수와 행 단위 연산 (axis=1)
#목표: 일회성 익명 함수인 lambda를 사용하여 두 개 이상의 열 데이터를 조합해 새로운 값을 계산합니다.

#문제: Order_Value(주문 금액)를 Items_Count(상품 개수)로 나누어
#     '상품 1개당 평균 단가'를 계산하십시오. 별도의 def 함수 없이 lambda와 .apply()를 사용하십시오.

In [140]:
df.apply(lambda x : x["Order_Value"]/x["Items_Count"], axis=1)

0          58.500000
1         100.700000
2          63.789474
3         589.500000
4          45.076923
             ...
947747      3.789474
947748    167.777778
947749    106.166667
947750     91.916667
947751     58.384615
Length: 947752, dtype: float64

In [141]:
#예제: 각 숫자형 데이터 열의 범위(최댓값 - 최솟값) 구하기
#목표: Order_Value(주문 금액)와 Delivery_Time_Min(배달 시간) 두 열에 대해
  # 각각 가장 큰 값과 가장 작은 값의 차이를 계산합니다.

In [142]:
df[["Order_Value", "Delivery_Time_Min"]].apply(lambda x: x.max() - x.min())

Order_Value          2442
Delivery_Time_Min      35
dtype: int64

In [143]:
#연습 문제 13. 다중 조건 필터링 후 집계
#목표: 두 개 이상의 조건을 동시에 만족하는 데이터만 추출하여 분석합니다.

#문제: Discount_Applied가 1(할인 적용됨)이면서, 동시에 Customer_Rating(고객 평점)이 5점인 주문 건들만 필터링하십시오.
#   그 후, 해당 데이터의 Product_Category(상품 카테고리)별 평균 Delivery_Time_Min(배달 소요 시간)을 구하십시오.

In [144]:
discount_mask = df.Discount_Applied == 1
rating_mask = df.Customer_Rating == 5
df[discount_mask & rating_mask].groupby("Product_Category")["Delivery_Time_Min"].mean()

Product_Category
Beverages              15.820340
Dairy                  15.761377
Fruits & Vegetables    15.750918
Groceries              15.891989
Household              15.897221
Personal Care          15.711407
Snacks                 15.698587
Name: Delivery_Time_Min, dtype: float64

In [145]:
#연습 문제 14. 벡터화 연산을 통한 파생 변수(새로운 열) 생성
#목표: apply 함수 없이 수학 연산 기호를 직접 사용하여 새로운 데이터 열을 추가합니다.

#문제: Order_Value(주문 금액)를 Distance_Km(배달 거리)로 나눈 값을 계산하여,
#     Value_per_Km(1km당 주문 금액)이라는 새로운 열을 데이터프레임 원본에 추가하십시오. 생성 후 df.head()로 결과를 확인하십시오.

In [146]:
df["Value_per_Km"] = df.Order_Value / df.Distance_Km
df.head()

,Order_ID,Company,City,Customer_Age,Order_Value,Delivery_Time_Min,Distance_Km,Items_Count,Product_Category,Payment_Method,Customer_Rating,Discount_Applied,Delivery_Partner_Rating,Value_per_Km
0,1000001,Swiggy Instamart,Noida,46,702,19,12.0,12,Dairy,Wallet,2,1,3,58.500000
1,1000002,Flipkart Minutes,Amritsar,56,1007,20,12.7,10,Snacks,Cash on Delivery,2,0,3,79.291339
2,1000003,Flipkart Minutes,Mumbai,18,1212,17,4.8,19,Personal Care,Cash on Delivery,3,0,4,252.500000
3,1000004,Swiggy Instamart,Delhi,23,1179,6,6.4,2,Dairy,Credit Card,5,1,5,184.218750
4,1000005,Dunzo,Mumbai,44,586,12,2.4,13,Household,Wallet,4,0,5,244.166667

In [147]:
#연습 문제 15. 메서드 체이닝과 상위 데이터 추출
#목표: 그룹화, 정렬, 추출 기능을 한 줄의 코드로 연속해서 연결합니다.

#문제: Company(회사)별 전체 주문 건수(size)를 구하고,
#     주문 건수가 가장 많은 순서대로 내림차순 정렬한 뒤, 최상위 3개의 회사 데이터만 추출하십시오.

In [148]:
df.groupby("Company").size().sort_values(ascending=False).head(3)

Company
Flipkart Minutes    118965
Blinkit             118887
Zepto               118565
dtype: int64

In [149]:
#연습 문제 16. 딕셔너리({})를 활용한 1:1 치환
#목표: 숫자로 된 범주형 데이터를 직관적인 문자열로 변경합니다.

#문제: Discount_Applied(할인 적용 여부) 열의 데이터는
#     1(적용)과 0(미적용)으로 구성되어 있습니다. 이를 각각 'Yes'와 'No'라는 문자열로 변경하여 상위 5개 행을 출력하십시오.

In [150]:
discount_dict = {1 : "Yes", 0: "No"}
df.Discount_Applied.map(discount_dict)

0         Yes
1          No
2          No
3         Yes
4          No
         ...
947747     No
947748    Yes
947749     No
947750    Yes
947751     No
Name: Discount_Applied, Length: 947752, dtype: object

In [151]:
#목표: 딕셔너리에 매칭 기준이 지정되지 않은 나머지 값들이 어떻게 처리되는지 확인합니다.

#문제: Customer_Rating(고객 평점, 1~5점) 열에서
#5점은 'Excellent', 1점은 'Poor'로 변경하고, 나머지 2, 3, 4점에 대해서는 딕셔너리에 명시하지 않은 채 .map()을 적용해 보십시오.

In [152]:
rating_dict = { 5: "Excellent", 1: "Poor"}
df.Customer_Rating.map(rating_dict)

0               NaN
1               NaN
2               NaN
3         Excellent
4               NaN
            ...
947747          NaN
947748          NaN
947749          NaN
947750          NaN
947751          NaN
Name: Customer_Rating, Length: 947752, dtype: object

In [153]:
#연습 문제 18. 내장 함수를 활용한 일괄 변환
#목표: 딕셔너리 대신 파이썬 내장 함수를 전달하여 텍스트 데이터를 변환합니다.

#문제: City(도시) 열의 모든 텍스트를 소문자로 변환하여 출력하십시오.

In [154]:
df.City.apply(lambda x: x.lower())

0            noida
1         amritsar
2           mumbai
3            delhi
4           mumbai
            ...
947747      mumbai
947748      mumbai
947749       noida
947750        pune
947751     chennai
Name: City, Length: 947752, dtype: object

In [155]:
df.City.str.lower()   #똑같다고 함

0            noida
1         amritsar
2           mumbai
3            delhi
4           mumbai
            ...
947747      mumbai
947748      mumbai
947749       noida
947750        pune
947751     chennai
Name: City, Length: 947752, dtype: object

In [156]:
#연습 문제 19. 다중 열의 값을 참조하는 사용자 정의 함수 (axis=1)
#목표: 한 행(가로줄)에 있는 여러 열의 데이터를 동시에 평가하여 새로운 범주를 부여합니다.

#문제: 배달 평가 등급을 산출하는 evaluate_delivery(row) 함수를 작성하십시오.
#     Delivery_Time_Min이 30분 미만이고 동시에 Delivery_Partner_Rating이 4점 이상이면 'Excellent',
#     그 외의 경우는 'Standard'를 반환해야 합니다.
      #이후 .apply()를 사용하여 전체 데이터프레임에 적용하고, 그 결과를 Delivery_Grade라는 새로운 열에 저장하십시오.

In [157]:
def evaluate_delivery(row):
  if row["Delivery_Time_Min"] < 30 and row["Delivery_Partner_Rating"] >= 4:
    return "Excellent"
  else:
    return "Standard"

In [158]:
df["Delivery_Grade"] = df.apply(evaluate_delivery, axis=1)
df.head()

,Order_ID,Company,City,Customer_Age,Order_Value,Delivery_Time_Min,Distance_Km,Items_Count,Product_Category,Payment_Method,Customer_Rating,Discount_Applied,Delivery_Partner_Rating,Value_per_Km,Delivery_Grade
0,1000001,Swiggy Instamart,Noida,46,702,19,12.0,12,Dairy,Wallet,2,1,3,58.500000,Standard
1,1000002,Flipkart Minutes,Amritsar,56,1007,20,12.7,10,Snacks,Cash on Delivery,2,0,3,79.291339,Standard
2,1000003,Flipkart Minutes,Mumbai,18,1212,17,4.8,19,Personal Care,Cash on Delivery,3,0,4,252.500000,Excellent
3,1000004,Swiggy Instamart,Delhi,23,1179,6,6.4,2,Dairy,Credit Card,5,1,5,184.218750,Excellent
4,1000005,Dunzo,Mumbai,44,586,12,2.4,13,Household,Wallet,4,0,5,244.166667,Excellent

In [159]:
#연습 문제 20. 단일 열의 데이터 형변환 함수
#목표: 수치형 데이터를 특정 형식의 문자열로 변환하는 함수를 단일 열에 적용합니다.

#문제: 킬로미터 단위인 Distance_Km의 값을 미터(m) 단위로 변환하고,
#뒤에 'm' 문자열을 붙이는 km_to_meters(km) 함수를 작성하십시오. (예: 1.5 -> '1500m') 이를 Distance_Km 열에 적용하여 결과를 확인하십시오.

In [160]:
def km_to_meters(Km):
  return f"{int(Km) * 1000}m"

km_to_meters(5)

'5000m'

In [161]:
df.Distance_Km = df.Distance_Km.apply(km_to_meters)
df.head()

,Order_ID,Company,City,Customer_Age,Order_Value,Delivery_Time_Min,Distance_Km,Items_Count,Product_Category,Payment_Method,Customer_Rating,Discount_Applied,Delivery_Partner_Rating,Value_per_Km,Delivery_Grade
0,1000001,Swiggy Instamart,Noida,46,702,19,12000m,12,Dairy,Wallet,2,1,3,58.500000,Standard
1,1000002,Flipkart Minutes,Amritsar,56,1007,20,12000m,10,Snacks,Cash on Delivery,2,0,3,79.291339,Standard
2,1000003,Flipkart Minutes,Mumbai,18,1212,17,4000m,19,Personal Care,Cash on Delivery,3,0,4,252.500000,Excellent
3,1000004,Swiggy Instamart,Delhi,23,1179,6,6000m,2,Dairy,Credit Card,5,1,5,184.218750,Excellent
4,1000005,Dunzo,Mumbai,44,586,12,2000m,13,Household,Wallet,4,0,5,244.166667,Excellent

In [162]:
#연습 문제 21. 그룹화 집계(.agg())에 사용자 정의 함수 적용
#목표: 내장된 통계 함수(mean, sum 등) 외에, 사용자가 직접 만든 계산 로직을 그룹 집계에 사용합니다.

#문제: 특정 열의 '최댓값과 최솟값의 차이(범위)'를 구하는 get_range(series) 함수를 작성하십시오.
#이후 Product_Category(상품 카테고리)별로 Order_Value(주문 금액)의 범위를 계산하십시오.

In [163]:
def get_range(series):
  return series.max()-series.min()

In [164]:
df.groupby("Product_Category")["Order_Value"].aggregate(get_range)
#사용자정의함수라면 aggregate() 따옴표가 없어야 함

Product_Category
Beverages              2432
Dairy                  2439
Fruits & Vegetables    2442
Groceries              2426
Household              2426
Personal Care          2442
Snacks                 2432
Name: Order_Value, dtype: int64